.top_bg {
    background-color: #efb132;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* margin-right: -70px; */
    /* margin-left: 120px; */
    width: 100vw;
}

.bell , .setting {
    /* border: 2px solid white; */
    width: max-content;
    font-size: x-large;
    margin-left: 20px;
    color: #6a0902;
}

.top_search > input {
    border-radius: 5rem;
    border: none !important;
    outline:  none !important;
    padding: 5px;
    padding-left: 10px;
    font-size: medium;
    
}

.top_right {
    margin-right: 5%;
    /* border: 2px solid red; */
}

.top_search {
    margin-left: 20%;
}